body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #880d1e, #dd2d4a);
  color: white;
  text-align: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

header {
  padding: 70px 20px;
}

h1 {
  font-size: 3rem;
  color: #f26a8d;
}

h2 {
  font-weight: normal;
}

.section {
  background: #f26a8d;
  color: white;
  border-radius: 20px;
  margin: 40px auto;
  padding: 35px;
  max-width: 900px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  /* opacity: 0; */
  transform: translateY(40px);
  transition: all 1s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
  object-position: center;
  object-fit: cover;
}

.video-section {
  padding: 20px;
  box-sizing: border-box;
}

video {
  width: 50%;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .section {
    margin: 40px 20px;
  }
  .video-section {
    padding: 20px;
    box-sizing: border-box;
  }

  video {
    width: 100%;
    border-radius: 15px;
  }

  .popup {
    right: 0 !important;
    margin: auto 20px;
  }
}

ul {
  text-align: left;
  max-width: 600px;
  margin: auto;
  font-size: 1.1rem;
}

ul li {
  margin: 10px 0;
}

button {
  background: #880d1e;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}

footer {
  margin: 50px 0;
  opacity: 0.7;
}

.love-list {
  text-align: left;
}

/* Floating Hearts */
.heart {
  position: fixed;
  bottom: -20px;
  font-size: 20px;
  animation: floatUp 6s linear infinite;
  opacity: 0.7;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh);
    opacity: 0;
  }
}

/* Popup */
.popup {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #880d1e;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px #00000070;
  display: none;
  animation: pop 0.5s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
